@import '../Variables.css';

.about-me {
    height: 100%;
    flex-grow: 1;
}

.about-me .about-me-description {
    margin: 5vh 10vw 5vh 10vw;
    padding: 1vh 5vw 1vh 5vw;
    scale: 0.5;
    opacity: 0;
    transition: 0.5s;
}

.in-view .about-me .about-me-description {
    opacity: 1;
    scale: 0.975;

    background-color: var(--secondary-bg-color);
    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    border-color: var(--border-color);

    transition:
        scale 0.5s,
        opacity 0.5s,
        background-color 0.5s,
        /* Theme switch transition*/
        border-radius var(--theme-transition-duration),
        border-width var(--theme-transition-duration);
}

.in-view .about-me .about-me-description:hover {
    scale: 1;
    background-color: var(--secondary-bg-color-hover);
}

.about-me .about-me-description h2,
.about-me .about-me-description h3,
.about-me .about-me-description h4 {
    font-weight: 200;
    text-align: center;
}

.about-me .about-me-description p {
    font-size: 1.5rem;
    text-align: justify;
}

.about-me .about-me-description hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#job-seeking {
    font-size: 1.1rem;
    font-style: italic;
    color: var(--text-color-hover);

}

/* .about-me .about-me-description .discret {
    color: var(--text-color-hover);
}

.about-me .about-me-description .discret b {
    color: var(--text-color-hover);
} */