@import '../Variables.css';

.tooltip-parent {
    position: relative;
    z-index: var(--depth-order-very-high-priority);
}

.tooltip-parent .tooltip {
    --apparition-delay: 0s;
    --step-height: 0%;

    position: absolute;
    visibility: hidden;

    z-index: var(--depth-order-very-high-priority);
    top: calc(100% + var(--step-height));
    width: max-content;

    left: 50%;
    transform-origin: top left;
    transform: translateX(-50%);

    margin-left: auto;

    text-align: center;
    border-radius: 6px;
    padding: 5px;

    font-size: var(--p-default-font-size);
    color: var(--text-color-hover);
    background-color: var(--tooltip-bg-color);
    box-shadow: 0 0 3px #000000;

    pointer-events: none;
    scale: 0;
    opacity: 0%;
    transition:
        scale 0.25s ease,
        opacity 0.25s ease,
        background-color var(--theme-transition-duration),
        color var(--theme-transition-duration);

    animation: hide-animation 0.25s;
}


.tooltip-parent:hover .tooltip {
    scale: 1;
    visibility: visible;
    opacity: 100%;
    transition:
        scale 0.25s ease var(--apparition-delay),
        opacity 0.25s ease var(--apparition-delay),
        background-color var(--theme-transition-duration),
        color var(--theme-transition-duration);


    animation: show-animation calc(0.25s + var(--apparition-delay));
}