:root {

    --scroll-bar-compensation: 0px;
    --theme-transition-duration: 0.5s;

    /*#region  COLORS */

    --primary-bg-color: #17171b;
    --jewerely-color: #2ee7de;
    --overlay-bg-color: #232323d2;

    /*DARK COLORS */

    --secondary-bg-color-masked-dark: #181b1f00;
    --secondary-bg-color-dark: #171a1ee6;
    --secondary-bg-color-hover-dark: #1a1d22e6;

    --tooltip-bg-color-dark: #222228f4;

    --timeline-item-color-dark: #181b1fef;
    --timeline-item-color-hover-dark: #21252bef;
    --timeline-item-shadow-color-dark: #000000;
    --timeline-color-dark: #c0bfcd;

    --border-color-masked-dark: #30303600;
    --border-color-dark: #3030364a;

    --text-color-dark: #d7d7d7;
    --text-color-hover-dark: #d7d7d7c4;
    --text-color-active-dark: #d7d7d78b;

    --white-image-inversion-dark: 0%;

    /*LIGHT COLORS */

    --secondary-bg-color-masked-light: #f5f2f000;
    --secondary-bg-color-light: #f0ece8e6;
    --secondary-bg-color-hover-light: #faf8f6e6;

    --tooltip-bg-color-light: #f5f2f0f4;

    --timeline-item-color-light: #ebe3e1ef;
    --timeline-item-color-hover-light: #fffbf9ef;
    --timeline-item-shadow-color-light: #000000;
    --timeline-color-light: #383c4e;

    --border-color-masked-light: #1c1c2500;
    --border-color-light: #1c1c25;

    --text-color-light: #14151e;
    --text-color-hover-light: #14151ec4;
    --text-color-active-light: #14151e8b;

    --white-image-inversion-light: 100%;

    /*#endregion*/

    --border-width-dark: 1px;
    --border-radius-dark: 10px;

    --border-width-light: 1px;
    --border-radius-light: 2px;

    /*#region Z INDEX */

    --depth-order-very-high-priority: 10;
    --depth-order-high-priority: 8;
    --depth-order-mid-priority: 5;
    --depth-order-low-priority: 2;
    --depth-order-very-low-priority: 0;

    /*#endregion*/


    /*#region  FONT VALUES */

    --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    --h1-default-font-size: 4rem;
    --h2-default-font-size: 3rem;
    --h3-default-font-size: 2rem;
    --h4-default-font-size: 1.5rem;
    --h5-default-font-size: 1rem;
    --p-default-font-size: 1rem;

    --h1-default-letter-spacing: 1px;
    --h2-default-letter-spacing: 0px;
    --h3-default-letter-spacing: 0px;
    --h4-default-letter-spacing: 0px;
    --h5-default-letter-spacing: 0px;
    --p-default-letter-spacing: 0px;

    --h1-default-space-indent: 0px;
    --h2-default-space-indent: 0px;
    --h3-default-space-indent: 0px;
    --h4-default-space-indent: 0px;
    --h5-default-space-indent: 0px;
    --p-default-space-indent: 0px;

    --h1-default-line-height: 1.25;
    --h2-default-line-height: 1.25;
    --h3-default-line-height: 1.25;
    --h4-default-line-height: 1.25;
    --h5-default-line-height: 1.25;
    --p-default-line-height: 1.25;

    /*#endregion*/
}

.light-theme {
    --secondary-bg-color-masked: var(--secondary-bg-color-masked-light);
    --secondary-bg-color: var(--secondary-bg-color-light);
    --secondary-bg-color-hover: var(--secondary-bg-color-hover-light);

    --tooltip-bg-color: var(--tooltip-bg-color-light);

    --timeline-item-color: var(--timeline-item-color-light);
    --timeline-item-color-hover: var(--timeline-item-color-hover-light);
    --timeline-item-shadow-color: var(--timeline-item-shadow-color-light);
    --timeline-color: var(--timeline-color-light);

    --border-color-masked: var(--border-color-masked-light);
    --border-color: var(--border-color-light);

    --border-width: var(--border-width-light);
    --border-radius: var(--border-radius-light);

    --text-color: var(--text-color-light);
    --text-color-hover: var(--text-color-hover-light);
    --text-color-active: var(--text-color-active-light);

    --white-image-inversion: var(--white-image-inversion-light);
}


.dark-theme {
    --secondary-bg-color-masked: var(--secondary-bg-color-masked-dark);
    --secondary-bg-color: var(--secondary-bg-color-dark);
    --secondary-bg-color-hover: var(--secondary-bg-color-hover-dark);

    --tooltip-bg-color: var(--tooltip-bg-color-dark);

    --timeline-item-color: var(--timeline-item-color-dark);
    --timeline-item-color-hover: var(--timeline-item-color-hover-dark);
    --timeline-item-shadow-color: var(--timeline-item-shadow-color-dark);
    --timeline-color: var(--timeline-color-dark);

    --border-color-masked: var(--border-color-masked-dark);
    --border-color: var(--border-color-dark);

    --border-width: var(--border-width-dark);
    --border-radius: var(--border-radius-dark);

    --text-color: var(--text-color-dark);
    --text-color-hover: var(--text-color-hover-dark);
    --text-color-active: var(--text-color-active-dark);

    --white-image-inversion: var(--white-image-inversion-dark);
}


@keyframes hide-animation {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes show-animation {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}


@keyframes Icon-iddle-animation {
    0% {
        transform: scale(1, 1);
    }

    45% {
        transform: rotate(0);
    }

    50% {
        transform: scale(0.95, 0.95) rotate(6deg);
        ;
    }

    60% {
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(1deg);
    }

    100% {
        transform: scale(1, 1) rotate(0);
    }
}