@import '../Variables.css';

.about {
    height: 100%;
    flex-grow: 1;
}

.about .about-description {
    margin: 5vh 10vw 5vh 10vw;
    padding: 1vh 5vw 1vh 5vw;
    scale: 0.975;

    background-color: var(--secondary-bg-color);
    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    border-color: var(--border-color);

    will-change: scale;
    transition:
        scale 1s,
        background-color ease-in-out 0.25s,
        /* Theme switch transition*/
        border-radius var(--theme-transition-duration) ease-in-out,
        border-width var(--theme-transition-duration) ease-in-out;
}

.about .about-description:hover {
    scale: 1;
    background-color: var(--secondary-bg-color-hover);
}

.about .about-description h5 {
    text-align: left;
}

.about .about-description p {
    text-align: justify;
}