@import '../Variables.css';

/* Arrows */


.arrow-btn {
    --button-size: 2rem;

    padding: 1rem;
    box-sizing: content-box;

    width: var(--button-size);
    height: var(--button-size);
    top: 50%;
    transition: 0.15s;
    position: absolute;
    transform: translateY(-50%);

    z-index: var(--depth-order-very-high-priority);

    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-btn:hover {
    transform: translateY(-50%) scale(1.1, 1.1);
    cursor: pointer;
}

.arrow-btn:active {
    transform: translateY(-50%) scale(0.9, 0.9);
}

#arrow-btn-left {
    left: 1vw;
}

#arrow-btn-right {
    right: 1vw;
}

/* Icons */

@keyframes Icon-iddle-animation {
    0% {
        transform: scale(1, 1);
    }

    45% {
        transform: rotate(0);
    }

    50% {
        transform: scale(0.95, 0.95) rotate(6deg);
        ;
    }

    60% {
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(1deg);
    }

    100% {
        transform: scale(1, 1) rotate(0);
    }
}

.arrow-btn .arrow-btn-icon {
    user-select: none;
    font-size: var(--button-size);
    color: var(--text-color);

    transition: 0.15s;
    animation: 1.5s ease-in-out infinite Icon-iddle-animation;
}

.arrow-btn:hover .arrow-btn-icon {
    color: var(--text-color-hover);
}

.arrow-btn:active .arrow-btn-icon {
    color: var(--text-color-active);
}