@import '../Variables.css';

.link-icon {
    scale: 1;
    margin: auto;
    display: inline-block;

    filter: grayscale(100%);
    transition: scale 0.25s ease-in-out, filter 0.15s ease-in-out;
}

.link-icon:hover {
    scale: 1.1;

    filter: grayscale(0%);
}

.link-icon:active {
    scale: 1;
    transition: scale 0.1s ease-in, filter 0.1s;
}