@import '../Variables.css';

.link-icon {
    scale: 1;
    margin: auto;
    display: inline-block;

    filter: grayscale(100%);
    transition: 0.5s;
}

.link-icon:hover {
    scale: 1.1;

    filter: grayscale(0%);
}

.link-icon:active {
    scale: 1;
    transition: 0.1s;
}