@import '../Variables.css';

.main-page {
  width: inherit;
}

.main-page .page-sections {
  padding: 10vh 0 0 0;
}

/* WHEN MAIN PAGE IS PAUSED : */

.main-page.paused .arrow-btn {
  /* Mask arrows */
  opacity: 0;
}

.footer {
  position: relative;
  padding: 10vh 0 10vh 0;
  z-index: var(--depth-order-very-high-priority);
}

.footer p {
  color: var(--text-color);
}