@import '../Variables.css';


.network-icons .link-icon {
    margin: 5% 10% 5% 10%;
}

.network-icons {
    margin: 5vh 10vw 5vh 10vw;
    background-color: var(--secondary-bg-color);
    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    border-color: var(--border-color);

    scale: 0.975;
    transition:
        scale 1s,
        background-color ease-in-out 0.25s,
        /* Theme switch transition*/
        border-radius var(--theme-transition-duration) ease-in-out,
        border-width var(--theme-transition-duration) ease-in-out;
}

.network-icons:hover {
    scale: 1;
    background-color: var(--secondary-bg-color-hover);
}


.network-icons ul {
    padding: 0;
    margin: 2%;
    list-style: none;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.network-icons ul li {
    display: inline-block;
    margin: auto;
}