@import '../Variables.css';


.project-viewer {
    height: 100%;
    width: 100%;

    position: absolute;
    overflow: hidden;

    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    padding: 0;

    background-color: var(--secondary-bg-color-masked);
    border-color: var(--border-color-masked);

    will-change: scale;
    transition:
        border-color 0.25s ease-in-out 0.1s,
        background-color 0.25s ease-in-out 0.1s,
        /* Theme switch transition*/
        border-radius var(--theme-transition-duration) ease-in-out,
        border-width var(--theme-transition-duration) ease-in-out;
}


.project-viewer.opened {
    background-color: var(--secondary-bg-color);
    border-color: var(--border-color);

    scale: 0.995;
    transition:
        scale 1s,
        background-color ease-in-out 0.25s,
        /* Theme switch transition*/
        border-radius var(--theme-transition-duration) ease-in-out,
        border-width var(--theme-transition-duration) ease-in-out;
}

.project-viewer.opened:hover {
    background-color: var(--secondary-bg-color-hover);
    scale: 1;
}

.project-viewer .project-image-container {
    display: block;
    float: left;
    width: 30vw;
    height: 100%;
}


.project-viewer img {
    width: 100%;
    height: 100%;

    overflow: hidden;
    border-radius: 0px;
    object-fit: cover;
}


@media only screen and (max-width: 600px) {

    .project-viewer {
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 100%;

        position: absolute;
        overflow: hidden;

        border: var(--border-width) solid;
        border-radius: var(--border-radius);
        padding: 0;

        background-color: var(--secondary-bg-color-masked);
        border-color: var(--border-color-masked);

        will-change: scale;
        transition:
            border-color 0.25s ease-in-out 0.1s,
            background-color 0.25s ease-in-out 0.1s,
            /* Theme switch transition*/
            border-radius var(--theme-transition-duration) ease-in-out,
            border-width var(--theme-transition-duration) ease-in-out;
    }

    .project-viewer.opened {
        background-color: var(--secondary-bg-color);
        border-color: var(--border-color);

        scale: 0.995;
        transition:
            scale 1s,
            background-color ease-in-out 0.25s,
            /* Theme switch transition*/
            border-radius var(--theme-transition-duration) ease-in-out,
            border-width var(--theme-transition-duration) ease-in-out;
    }

    .project-viewer .project-image-container {
        display: block;
        float: none;
        width: 100%;
        height: 100%;

        transition: 0.25s;
    }

    .project-viewer.opened .project-image-container {
        height: 30%;
    }
}

/* Description */

@keyframes DescriptionAppearance {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.project-viewer .description {
    overflow: hidden;
    position: relative;
    text-align: left;
    height: 100%;

    margin-left: 30vw;

    animation: 1s ease-out 0s 1 DescriptionAppearance;
}


@media only screen and (max-width: 600px) {

    @keyframes DescriptionAppearance {
        0% {
            opacity: 0;
            height: 0%;
        }

        50% {
            opacity: 0;
            height: 100%;
        }

        100% {
            opacity: 1;
        }
    }



    .project-viewer .description {
        margin-left: 0;

        /* animation: 1s ease-out 0s 1 DescriptionAppearance; */
    }
}

.description p {
    overflow: hidden;
    text-align: justify;
}

.project-header {
    position: absolute;
    top: 0;

    width: 100%;
    padding: 0 1rem;

    height: calc(var(--h2-default-font-size) + 3rem);
    /* 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; */
}

.project-header h3 {
    margin: 0.5rem 0;
    white-space: nowrap;
}

.project-header .team-statut {
    margin: 0 0.5rem;
    position: relative;
}

.project-header .team-statut .team-statut-icon {
    font-size: 1rem;
}

.project-tags {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .project-tag {
    margin: 0 0.25rem;
    text-align: center;
    color: #eee;
    background-color: brown;
    border-radius: 5px;
    padding: 0.35rem;
    font-size: 0.9rem;
} */


.project-text {
    position: absolute;
    top: 6rem;

    padding: 0 1rem;
    height: calc(50% - 6rem);

    overflow-wrap: break-word;
    /* white-space:; */
}


.links {
    position: absolute;
    height: 3rem;
    margin: 1rem;
    right: 0%;
    left: 0%;
    bottom: 0%;
    text-align: right;
}