@import '../Variables.css';

.project-gallery {
    position: absolute;
    height: calc(50% - 5rem);
    bottom: 5rem;
    padding: 0 1rem;
    margin: 0;
}


.project-gallery ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.project-gallery ul li {
    flex: 1;
    transition: 0.5s;
    height: 100%;
}

.project-gallery ul li:hover {
    flex: 6;
}

.project-gallery ul li:active {
    flex: 6;
}

.project-gallery ul li img {

    cursor: zoom-in;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    object-fit: cover;
    overflow: hidden;

    border-radius: var(--border-radius);
    transition: var(--theme-transition-duration) ease-in-out
}