@import '../Variables.css';


.project-viewer {
    --project-title-top-bot-margin: 25px;

    height: 100%;
    width: 100%;

    position: absolute;
    overflow: hidden;

    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    padding: 0;

    background-color: var(--secondary-bg-color-masked);
    border-color: var(--border-color-masked);

    transition:
        border-color 0.25s ease-in-out 0.1s,
        background-color 0.25s ease-in-out 0.1s,
        /* Theme switch transition*/
        border-radius var(--theme-transition-duration) ease-in-out,
        border-width var(--theme-transition-duration) ease-in-out;
}


.project-viewer.opened {
    background-color: var(--secondary-bg-color);
    border-color: var(--border-color);

    scale: 0.995;
    will-change: scale;
    transition:
        scale 1s,
        background-color ease-in-out 0.25s,
        /* Theme switch transition*/
        border-radius var(--theme-transition-duration) ease-in-out,
        border-width var(--theme-transition-duration) ease-in-out;
}

.project-viewer.opened:hover {
    background-color: var(--secondary-bg-color-hover);
    scale: 1;
}


.project-viewer .project-image-container {
    display: block;
    float: left;
    width: 30vw;
    height: 100%;
}


.project-viewer img {
    width: 100%;
    height: 100%;

    overflow: hidden;
    border-radius: 0px;
    object-fit: cover;
}

/* Description */

@keyframes DescriptionAppearance {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.description {
    position: relative;
    height: 100%;
    text-align: left;

    margin-left: 30vw;

    will-change: opacity;
    animation: 1s ease-out 0s 1 DescriptionAppearance;
}

.description p {
    overflow: hidden;
    text-align: justify;
}

.project-header {
    position: absolute;
    top: 0;

    width: 100%;
    padding: 0 1rem;

    height: calc(var(--h2-default-font-size) + 3rem);
    /* 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; */
}

.project-header h2 {
    margin: 0.5rem 0;
    /* flex: 1; */
}

.project-tags {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .project-tag {
    margin: 0 0.25rem;
    text-align: center;
    color: #eee;
    background-color: brown;
    border-radius: 5px;
    padding: 0.35rem;
    font-size: 0.9rem;
} */


.project-text {
    position: absolute;
    top: 6rem;

    padding: 0 1rem;
    height: calc(50% - 6rem);
}


.links {
    position: absolute;
    height: 3rem;
    margin: 1rem;
    right: 0%;
    left: 0%;
    bottom: 0%;
    text-align: right;
}