@import '../Variables.css';

.project-slider {
    position: relative;
    height: 85vh;
    z-index: var(--depth-order-mid-priority);
}


.project-slider .project-list {
    position: absolute;
    display: flex;
    list-style: none;
    height: 100%;

    padding: 0;
    margin: 0;
    will-change: transform;
    transition: 0.25s,
}


/* #region project-slot */

.project-slider .project-slot {
    align-items: center;
    height: 100%;

    opacity: 0.85;
    scale: 0.8;

    transition:
        width 0.25s,
        color 0.15s,
        filter 0.75s,
        scale 0.5s,
        opacity 0.75s;

    z-index: var(--depth-order-very-low-priority);
    filter: grayscale(90%);
    color: #00000000;
}

.project-slider .project-slot:hover {
    scale: 0.85;
    filter: grayscale(15%);
    opacity: 0.75;
    cursor: pointer;
}

.project-slider .project-slot.opened {
    /*Change value in js too*/
    width: 80vw;
}


.project-slider .project-slot.active {
    opacity: 1;
    scale: 0.975;
    z-index: var(--depth-order-very-high-priority);

    filter: grayscale(15%);
    color: var(--text-color);
}

.project-slider .project-slot.active:hover {
    scale: 1;
    cursor: pointer;
}

/* #endregion */