@import '../Variables.css';

.project-slider {

    position: relative;
    overflow: inherit;
    flex-grow: 1;
    z-index: var(--depth-order-mid-priority);
}


.project-slider .project-list {
    position: absolute;
    display: flex;
    list-style: none;

    padding: 0;
    margin: 0;
    height: 100%;
    will-change: transform;
    transition: 0.25s ease-in-out,
}


/* #region project-slot */

.project-slider .project-slot {
    align-items: center;
    height: 100%;

    opacity: 0.5;
    scale: 0.8;

    transition:
        width 0.25s ease-in-out,
        color 0.15s ease-in-out,
        filter 0.75s,
        scale 0.75s,
        opacity 0.75s;

    z-index: var(--depth-order-very-low-priority);
    filter: grayscale(90%);
    color: #00000000;
}

.project-slider .project-slot:hover {
    scale: 0.82;
    filter: grayscale(15%);
    opacity: 0.75;
    cursor: pointer;
}

.project-slider .project-slot.opened {
    /*Change value in js too*/
    width: 90vw;
}


.project-slider .project-slot.active {
    opacity: 1;
    scale: 0.98;
    z-index: var(--depth-order-very-high-priority);

    filter: grayscale(15%);
    color: var(--text-color);
}

.project-slider .project-slot.active:hover {
    scale: 1;
    cursor: pointer;
}


/* #endregion */