@import '../Variables.css';


section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100vh;
  overflow: hidden;

  padding: 10vh 0 0 0;

  color: var(--text-color);
  z-index: var(--depth-order-mid-priority);
  animation: hide-animation 0.25s;
}

section.in-view {
  animation: show-animation 0.25s;
}

section .section-container {
  flex-grow: 1;
  display: flex;
  /* overflow: visible; */
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  z-index: var(--depth-order-high-priority);

  will-change: scale opacity;
  opacity: 0;
  scale: 0.5;
  transition:
    scale 1s ease-in-out,
    opacity 1s ease-in-out,
}


section.in-view .section-container {
  scale: 1;
  opacity: 1;
}


section .place-holder {
  flex-grow: 1;
  overflow: hidden;

  background-color: aquamarine;
}