@import '../Variables.css';


section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 120vh;
  padding: 10vh 0 0 0;

  color: var(--text-color);
  z-index: var(--depth-order-mid-priority);
}

section .section-container {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  /* overflow: visible; */
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  z-index: var(--depth-order-high-priority);

  will-change: scale opacity;
  opacity: 0;
  scale: 0.5;
  transition:
    scale 1s ease-in-out,
    opacity 1s ease-in-out,
}


section.in-view .section-container {
  scale: 1;
  opacity: 1;
}