@import '../Variables.css';


section {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  padding: 0 0 0 0;

  color: var(--text-color);
  z-index: var(--depth-order-mid-priority);
}

section .section-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  z-index: var(--depth-order-high-priority);

  will-change: scale opacity translate;
  opacity: 0;
  scale: 0.5;
  transition: 1s ease;
}


section.in-view .section-container {
  scale: 1;
  opacity: 1;
  transition: 0.5s ease;
}