.Navigation-header {  
    z-index: var(--depth-order-permanent);
    top: 0;
    position: fixed;
    width:100%;
    height: 10vh;
    background-color: var(--header-bg-color);
    margin: 0;
    border-bottom:1px solid var(--secondary-color);
  }
  
  .Navigation-header::after {
      content:'';
      display: table;
      clear: both;
  }
  
  
  .Navigation-header::after {
    content:'';
    display: table;
    clear: both;
  }
  
  
  .Navigation-header nav {
    text-align: center;
  }
  
  .Navigation-header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .Navigation-header nav li {
    display: inline-block;
    
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3vh;
    position: relative;
  }
  
  
  .Navigation-header nav a {
    font-size: 20px;
    font-weight: lighter;
    color: var(--text-color);
    text-decoration: none;
  }
  
  .Navigation-header nav a:hover{
    color: var(--secondary-color);
  }
  
  .Navigation-header nav a.active{
    color: var(--secondary-color);
  }
  
  .Navigation-header nav a::before{
    content: '';
    display: block;
    height: 2px;
    background-color: var(--secondary-color);
  
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 0.1s;
  }
  
  .Navigation-header nav a:hover::before{
    width: 100%;
    transition: all ease-in-out 0.1s;
  }