@import "Variables.css";


.About {
    height: 100%;
    flex-grow: 1;
}

.About .About-Description {
    /* display: flex; */
    /* flex-wrap: wrap; */

    margin: 5vh 10vw 5vh 10vw;
    padding: 1vh 5vw 1vh 5vw;
    scale: 0.975;

    background-color: var(--secondary-bg-color);
    border: 5px solid;
    border-radius: 5px;
    border-color: var(--border-color);

    will-change: scale;
    transition: scale 1s, background-color ease-in-out 0.25s;
}

.About .About-Description:hover {
    scale: 1;
    background-color: var(--secondary-bg-color-hover);
}

.About .About-Description h5 {
    text-align: left;
}

.About .About-Description p {
    text-align: justify;
}

.About .About-Description .About-SubDescription {
    padding: 0 1vw 0 1vw;
    flex: 1;
}