@import "Variables.css";

.App {
  text-align: center;
}

.App-page {
  background-color: var(--main-bg-color);
}

/*#region sections*/

.App-page section {
  box-sizing: border-box;

  display: flex;
  height: 100vh;
  padding: 10vh 0 10vh 0;
  
  color: var(--text-color);
  font-weight: 400;
  z-index: var(--depth-order-mid-priority);
}

.Section-container {
  width: 100%;
  margin: 0 auto;
  
  z-index: var(--depth-order-high-priority);
}

.Section-title {
  font-weight: lighter;
  font-size: 50px;
}

/*#endregion*/