@import "Variables.css";

.App {
  text-align: center;
  user-select: none;

  backface-visibility: hidden;
}

.App-page {
  background-color: var(--primary-bg-color);
}

/*#region sections*/

.App-page section {
  box-sizing: border-box;

  display: flex;
  height: 100vh;
  padding: 10vh 0 10vh 0;
  
  color: var(--text-color);
  font-weight: 400;
  z-index: var(--depth-order-mid-priority);
}

.Section-container {
  width: 100%;
  margin: 0 auto;
  
  z-index: var(--depth-order-high-priority);
}

/*#endregion*/

#About .Section-container{
  display: flex;

  padding: 10vw;
}

#About .About-Description{
  text-align: justify;
}

#About .About-image{
  text-align: right;
  width: 50%;
}

#About .About-image img{
  width: 50%;
  height: auto;
}