@import "Variables.css";

* {
  box-sizing: border-box;
}

html {
  font-size: clamp(10px, 1vw, 20px);
}

.app {
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  backface-visibility: hidden;

  font-size: clamp(15px, 2vw, 25px);
}

.app-content.paused * {
  animation: none !important;
  transition: none !important;
}

.app-sections {
  background-color: var(--primary-bg-color);
}