@import 'Variables.css';

.Background {
    position: fixed;
    
    display: block;
    background-color: var(--main-bg-color);

    height: 100%;
    width:  100%;

    z-index: var(--depth-order-low-priority);
}