@import 'Variables.css';

.background {
    position: fixed;

    display: block;
    background-color: var(--primary-bg-color);

    height: 100%;
    width: 100%;

    z-index: var(--depth-order-low-priority);

    transition: background-color ease-in-out 0.25s;
}