@import "Variables.css";

body {
  margin: 0;
  font-family: var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: lighter;
  margin-top: 25px;
  margin-bottom: 25px;
  letter-spacing: var(--h1-default-letter-spacing);
  font-size: var(--h1-default-font-size);
  line-height: var(--h1-default-line-height);
  text-indent: var(--h1-default-space-indent);
}

h2 {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: var(--h2-default-letter-spacing);
  font-size: var(--h2-default-font-size);
  line-height: var(--h2-default-line-height);
  text-indent: var(--h2-default-space-indent);
}

h3 {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: var(--h3-default-letter-spacing);
  font-size: var(--h3-default-font-size);
  line-height: var(--h3-default-line-height);
  text-indent: var(--h3-default-space-indent);
}

h4 {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: var(--h4-default-letter-spacing);
  font-size: var(--h4-default-font-size);
  line-height: var(--h4-default-line-height);
  text-indent: var(--h4-default-space-indent);
}

h5 {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: var(--h5-default-letter-spacing);
  font-size: var(--h5-default-font-size);
  line-height: var(--h5-default-line-height);
  text-indent: var(--h5-default-space-indent);
}



p {
  font-weight: lighter;
  letter-spacing: var(--p-default-letter-spacing);
  font-size: var(--p-default-font-size);
  line-height: var(--p-default-line-height);
  text-indent: var(--p-default-space-indent);
}


a {
  font-weight: lighter;
  font-size: var(--p-default-font-size);
  color: var(--text-color);
}