@import "Variables.css";

.Logo-viewer {
    height: auto;
    margin: 0 10vw 5vh 10vw;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: auto auto;
}

.Logo {
    align-self: center;
    justify-self: center;
    object-fit: contain;
    max-width: 90%;
    height: auto;
    margin: 4%;
    padding: 4%;

    transition: opacity ease-in-out 0.25s;
    opacity: 0.5;
}

.Logo:hover {
    transition: opacity ease-in-out 0.25s;
    opacity: 1;
}