@import "Variables.css";

.navigation-header {
  --color: var(--jewerely-color);
  --header_height: 10vh;

  z-index: var(--depth-order-very-high-priority);
  top: 0;
  position: fixed;
  width: 100%;
  height: var(--header_height);
  background-color: var(--secondary-bg-color);
  margin: 0;
  border-bottom: 1px solid var(--color);
  backdrop-filter: blur(5px);

  will-change: border-bottom;
  transition: border-bottom ease-in-out 1s;

  display: flex;
  flex-direction: row;
}

.navigation-header::after {
  content: '';
  display: table;
  clear: both;
}

/* LOGO */

.navigation-header .logo {
  margin: 0;
  padding: 0;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-header .logo img {

  box-sizing: border-box;
  object-fit: scale-down;
  max-height: 50%;
  width: auto;
}

/* NAVIGATION LINKS*/

.navigation-header nav {
  margin: 0;
  padding: 0;
  flex: 4;
  text-align: center;
  width: 100%;
}

.navigation-header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.navigation-header nav li {
  flex: 1;
  position: relative;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}


.navigation-header nav li::before {
  transform: scaleX(0);
  transform-origin: top center;
  content: '';
  display: block;
  height: 0.25vh;

  background-color: var(--color);

  position: absolute;
  top: 0;
  width: 75%;

  will-change: transform;
  transition: transform ease-out 0.75s, background-color ease-in-out 0.75s;
}

.navigation-header nav li:hover::before {
  transform: scaleX(1);
}

.navigation-header nav a {
  color: var(--text-color);
  pointer-events: auto;

  font-size: var(--h3-default-font-size);
  font-weight: lighter;
  text-decoration: none;

  will-change: color, background-color, width;
  transition: color ease-in-out 0.75s;
}

.navigation-header nav a:hover {
  color: var(--color);
  transition: color ease-in-out 0.75s;
}

.navigation-header nav a.active {
  color: var(--color);
  transition: color ease-in-out 0.75s;
}

.navigation-header .themeToggle {
  margin: 0;
  padding: 0;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

}