@import "Variables.css";

.Project-slider {
    position: relative;
    overflow: hidden;
    height: 100%;
    z-index: var(--depth-order-mid-priority);
}


.Project-slider .Arrow-btn {
    top: 50%;
    transition: 0.25s;
    position: absolute ;
    transform: translateY(-50%);

    z-index: var(--depth-order-high-priority);
}

.Project-slider .Arrow-btn:hover {
    transform: translateY(-50%) scale(1.1,1.1);
    transition: 0.25s;
}

.Project-slider .Arrow-btn:active {
    transform: translateY(-50%) scale(0.9,0.9);
    transition: 0.25s;
}

.Project-slider .Arrow-btn .Icon{
    user-select: none;
    font-size: 5vh;
    color: var(--white-color);
    transition: 0.25s;
}

.Project-slider .Arrow-btn .Icon:hover{
    color: var(--white-color-hover);
    transition: 0.25s;
}

.Project-slider .Arrow-btn .Icon:active{
    color: var(--white-color-active);
    transition: 0.25s;
}

.Project-slider #Previous-btn {
    left: 3rem; 
}

.Project-slider #Previous-btn:active {
    left: 2.5rem;
    transition: 0.5s;
}

.Project-slider #Next-btn {
    right: 3rem;
} 

.Project-slider #Next-btn.Active {
    right: 2rem;
    transition: 0.1s;
}

.Project-slider .Project-slot{
    object-fit: cover;
    margin: 0 15vh 0 15vh;
    height: 100%;
    border-radius: 15px;

    background-color: #2022268d;
    opacity: 0;

    position: absolute;
    transform: scale(0, 0);
    left:0%;
    right:0%;
  
    transition: 0.5s ease-in;

    z-index: var(--depth-order-very-low-priority);
}
  
.Project-slider .Project-slot.left {
    left:-200%; 
    right:200%;
}


.Project-slider .Project-slot.right {
    left:  200%;
    right:-200%;
}

.Project-slider .Project-slot.active{
    opacity: 1;

    transform: scale(1,1);
    left: 0%;
    right:0%;

    transition: 0.5s ease-out;

    z-index: var(--depth-order-very-high-priority);
}