@import "Variables.css";

.Project-gallery {
    position: absolute;
    height: calc(50% - 5rem);
    bottom: 5rem;
    right: 2.5%;
    left: 2.5%;
    margin: 0;
}


.Project-gallery ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.Project-gallery ul li {
    flex: 1;
    transition: 0.5s;
    height: 100%;
}

.Project-gallery ul li:hover {
    flex: 6;
}

.Project-gallery ul li:active {
    flex: 6;
}

.Project-gallery ul li img {
    object-fit: cover;

    border: solid 0px;
    border-color: var(--border-color-masked);

    transition: 0.5s;
}

.Project-gallery ul li:hover img {
    border: solid 4px;
    border-color: var(--border-color);
}