@import "Variables.css";

.Project-slider {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    z-index: var(--depth-order-mid-priority);
}

/* #region buttons */

/* Arrows */

.Arrow-btn {
    top: 50%;
    transition: 0.15s;
    position: absolute;
    transform: translateY(-50%);

    z-index: var(--depth-order-very-high-priority);
}

.Arrow-btn:hover {
    transform: translateY(-50%) scale(1.1, 1.1);
    transition: 0.15s;
    cursor: pointer;
}

.Arrow-btn:active {
    transform: translateY(-50%) scale(0.9, 0.9);
    transition: 0.15s;
}

/* Icons */

@keyframes Icon-iddle-animation {
    0% {
        transform: scale(1, 1);
    }

    45% {
        transform: rotate(0);
    }

    50% {
        transform: scale(0.95, 0.95) rotate(6deg);
        ;
    }

    60% {
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(1deg);
    }

    100% {
        transform: scale(1, 1) rotate(0);
    }
}


.Icon {
    will-change: transform;
    user-select: none;
    font-size: 5vh;
    color: var(--white-color);
    transition: 0.15s;
    animation: 1.5s ease-in-out infinite Icon-iddle-animation;
}

.Icon:hover {
    color: var(--white-color-hover);
    transition: 0.15s;
}

.Icon:active {
    color: var(--white-color-Active);
    transition: 0.15s;
}

#Previous-btn {
    left: 2vw;
}

#Next-btn {
    right: 2vw;
}


/* #endregion */


.Project-slider .Project-list {

    will-change: transform, left, width;
    display: flex;
    list-style: none;

    padding: 0;
    margin: 0;
    height: 100%;
    position: absolute;
    transition: transform 0.25s ease-in-out, left 0.25s ease-in-out, width 0.25s ease-in-out;
}


/* #region project-slot */

.Project-slot {
    align-items: center;
    height: 100%;

    opacity: 0.5;
    scale: 0.8;

    will-change: width, filter, color, scale, opacity;
    transition:
        width 0.25s ease-in-out,
        color 0.15s ease-in-out,
        filter 0.75s,
        scale 0.75s,
        opacity 0.75s;

    z-index: var(--depth-order-very-low-priority);
    filter: grayscale(90%);
    color: #00000000;
}

.Project-slot:hover {
    scale: 0.82;
    filter: grayscale(15%);
    opacity: 0.75;
    cursor: pointer;
}

.Project-slot.Opened {
    /*Change value in js too*/
    width: 90vw;
}


.Project-slot.Active {
    opacity: 1;
    scale: 0.98;
    z-index: var(--depth-order-very-high-priority);

    filter: grayscale(15%);
    color: var(--text-color);
}

.Project-slot.Active:hover {
    scale: 1;
    cursor: pointer;
}


/* #endregion */