@import "Variables.css";
  

.Project-viewer {
    --project-title-top-bot-margin: 25px;

    height: 100%;
    width: 100%;

    overflow: hidden;
    
    border: 1px solid;
    border-radius: 5px;
    padding: 0;
    
    background-color: #00000000;
    border-color: rgba(238, 238, 238, 0);

    transition: background-color 0.15s, border-color 0.2s ease-in-out;
}

.Project-viewer.Opened {
    background-color: #0a0a0b5a;
    border-color: rgba(238, 238, 238, 0.85);

    transition: border-color 0.25s ease-in-out 0.25s, background-color 0.5s ease-in-out 0.25s;
}

.Project-viewer .Project-title{
    display: block;
    line-height: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: var(--project-title-top-bot-margin); 
    margin-top:    var(--project-title-top-bot-margin); 
    
    text-shadow: 3px 3px 5px rgba(19, 19, 19, 0.925);

    will-change: transform;
    transition: 0.15s;
}

.Project-viewer .Project-title.Opened{
    transform: translateX(15vw);

}

.Project-viewer .Project-image-container {
    display:block;
    float: left;
    width:  30vw;
    height: 100%;
    
    margin-top:   0;
    margin-right: 0;

    transition :  margin-top 0.25s, margin-right 0.25s;
}
.Project-viewer .Project-image-container.Opened {
    margin-top: calc(-2*var(--project-title-top-bot-margin) - var(--h2-default-font-size));
    margin-right: 2%;

    transition :  margin-top 0.25s 0.1s, margin-right 0.25s;
}

.Project-viewer img {
    width:  100%;
    height: 100%;

    border-radius: 5px;
    object-fit: cover;
}


.Project-viewer .Description{
    margin: 5%;
    text-align: justify;
    opacity: 0;
    
    will-change:  opacity;
    transition: opacity 0.1s;
}

.Project-viewer.Opened .Description{
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0.4s;
}