@import "Variables.css";
  
.Tool-logo {
    position: relative;
}

.Logo-image {
    position: absolute;
    Opacity: 0;

    will-change: transform;
    transform: scale(0.5);
    transition: ease-in-out 1s; 
}

.Logo-image.Active{
    Opacity: 1;
    transform: scale(1);
    transition: 1s ease-in-out 0.75s; 
}

.Logo-image img{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}