:root {
    --primary-bg-color: #0e0f10;

    --secondary-bg-color-masked: #0a0a0b00;
    --secondary-bg-color: #0a0a0b61;
    --secondary-bg-color-hover: #0a0a0bac;
    --secondary-bg-color-opaque: #0a0a0b;

    --tertiary-bg-color-masked: #0a0a0b00;
    --tertiary-bg-color: #0a0a0b5a;
    --tertiary-bg-color-opaque: #0a0a0b;

    --border-color-masked: #25252800;
    --border-color: #2525284a;

    --jewerely-color: #2ee7de;

    --white-color: #e2e2e2;
    --white-color-hover: #e2e2e294;
    --white-color-active: #e2e2e249;

    --depth-order-very-high-priority: 10;
    --depth-order-high-priority: 8;
    --depth-order-mid-priority: 5;
    --depth-order-low-priority: 2;
    --depth-order-very-low-priority: 0;

    --text-color: #e2e2e2d7;
    --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    --h1-default-font-size: 4rem;
    --h2-default-font-size: 3rem;
    --h3-default-font-size: 2rem;
    --h4-default-font-size: 1.5rem;
    --p-default-font-size: 1rem;

    --h1-default-letter-spacing: 1px;
    --h2-default-letter-spacing: 1px;
    --h3-default-letter-spacing: 1px;
    --h4-default-letter-spacing: 1px;
    --p-default-letter-spacing: 1px;

    --h1-default-space-indent: 0px;
    --h2-default-space-indent: 0px;
    --h3-default-space-indent: 0px;
    --h4-default-space-indent: 0px;
    --p-default-space-indent: 0px;

    --h1-default-line-height: 1.25;
    --h2-default-line-height: 1.25;
    --h3-default-line-height: 1.25;
    --h4-default-line-height: 1.25;
    --p-default-line-height: 1.25;
}