@import '../Variables.css';


.logo-viewer {
    height: 100%;
    margin: 0 10vw 0 10vw;
}

.logo-viewer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    max-height: 100%;
}


.logo-viewer ul li {
    --logo-delay: 0s;
    --logo-opacity: 5%;
    max-width: clamp(25%, 10rem, 50%);

    opacity: 0;
    scale: 0;

    transition: 0.5s;
}


.in-view .logo-viewer ul li {
    opacity: 1;
    scale: 1;

    transition: 1s var(--logo-delay);
}

.logo-viewer ul li .logo[data-weight="1"] {
    --logo-size: 40%;
    --logo-opacity: 20%;
}

.logo-viewer ul li .logo[data-weight="2"] {
    --logo-size: 50%;
    --logo-opacity: 30%;
}

.logo-viewer ul li .logo[data-weight="3"] {
    --logo-size: 70%;
    --logo-opacity: 40%;
}

.logo-viewer ul li .logo[data-weight="4"] {
    --logo-size: 80%;
    --logo-opacity: 50%;
}

.logo-viewer ul li .logo[data-weight="5"] {
    --logo-size: 100%;
    --logo-opacity: 60%;
}

.logo-viewer ul li .logo {

    --logo-size: 25%;
    --logo-opacity: 25%;
    width: var(--logo-size);
    height: auto;

    padding: 2%;
    margin: 0;
    position: relative;

    opacity: var(--logo-opacity);
    scale: 0.950;

    transition: 0.25s;
}

.logo-viewer ul li .logo:hover {
    opacity: calc(25% + var(--logo-opacity));
    scale: 0.995;
}