@import '../Variables.css';

.tag-container {
    position: relative;
    z-index: var(--depth-order-mid-priority);
    scale: 0.95;
    transition: 0.5s;
}

.tag-container:hover {
    scale: 1;
}

.project-tag {
    margin: 0 0.1rem 0 0;
    text-align: center;
    color: #eee;
    border-radius: 2px;
    padding: 0.15rem;
    font-size: 1rem;
    min-width: 3rem;
}