:host {
  display: block;
}

.Content {
  margin: 0 15vh 0 15vh;
  padding: 2%;
  height: 70vh;
  background-color: #171616;
  
  border-radius: 25px;
  position: relative;
}

.Content h2{
  padding: 1vh;
  text-align: center;
}